.gradiente-adobe {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));
  background: -webkit-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));
  background: -moz-linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));
}

.gradiente-naranjo {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));
  background: -webkit-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));
  background: -moz-linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));
}

.gradiente-verde {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(67, 233, 123, 0.5), rgba(56, 249, 215, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(67, 233, 123, 0.5), rgba(56, 249, 215, 0.5));
  background: -webkit-gradient(to right, rgba(67, 233, 123, 0.5), rgba(56, 249, 215, 0.5));
  background: -moz-linear-gradient(to right, rgba(67, 233, 123, 0.5), rgba(56, 249, 215, 0.5));
}

.icono-instagram {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 0.8));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 0.8));
  background: -webkit-gradient(to right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 0.8));
  background: -moz-linear-gradient(to right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 0.8));
}

.icono-linkedin {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.5));
  background: -webkit-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.5));
  background: -moz-linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.5));
}

.icono-github {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(122, 122, 122, 0.5));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(122, 122, 122, 0.5));
  background: -webkit-gradient(to right, rgba(0, 0, 0, 0.8), rgba(122, 122, 122, 0.5));
  background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(122, 122, 122, 0.5));

}