@import "medias", "variables", "mixins", "keyframes", "gradientes", "whatsapp","cookies";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


// CONFIGURACION DEL BODY PARA TODAS LAS HTML
.body {
    max-width: 100%;
    padding-top: 10px;
}

.container-titulos {
    background-color: aquamarine;

    & .titulos {
        @include titulosH1;
    }
}

// Portfolio.html

.pA {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    align-items: center;
    justify-content: center;
}

.strong__presentacion {
    text-align: center
}

.strong__bienvenido {
    font-size: 34px;
    background-color: aquamarine;
}

.strong__bienvenido2 {
    text-align: center;
    font-size: 28px;
    background-color: aquamarine;
}

.parrafotexto {
    text-align: center;
    font-size: 18px;
}

.container-fluid .image {
    width: auto;
}

.parrafo {
    font-size: 22px;
}

.img_index {
    border-radius: 10px 100px / 120px;
    animation-name: imgA;
    animation-duration: 3s;
}


.fab {
    font-size: 24px; // Tamaño iconos Footer
}

.img_portfolio {
    border-radius: $--border-imagen
}    

.aqua {
    background-color: aqua;
}

.yellow {
    background-color: #ffff00;
}

.a_coder {
    text-decoration: none;
}

.btn {
    font-size: $--button--size;

    // METODOLOGIA.HTML
}

.numero-meto-izq {
    background-color: rgba(0, 255, 76, 0.434);
    border-radius: 30% 70% 73% 27% / 30% 30% 70% 70%;
}

.numero-meto-der {
    background-color: rgba(255, 0, 195, 0.434);
    border-radius: 30% 70% 19% 81% / 30% 47% 53% 70%
}

.radius-meto {
    border-radius: $--border-imagen;
}

.container-meto {
    width: 100%;
    max-height: 100%;
    background: #fff;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .elemento {
        margin: 20px;
        width: 100%;

        display: flex;
        align-content: center;
        justify-content: center;

        & .h5_1 {
            color: #d6fcff;
            font-size: 70px;
            background: cyan;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        & .h5_2 {
            color: rgb(249, 215, 249);
            font-size: 70px;
            background: magenta;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        & .h5_3 {
            color: rgb(255, 255, 222);
            font-size: 70px;
            background: yellow;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        & .h5_4 {
            color: rgb(191, 191, 191);
            font-size: 70px;
            background: black;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        & .p_title {
            font-size: 30px;
            color: #249a1d;
        }

        & .p2 {
            font-size: 30px;
        }

    }
}

.navbar {
    z-index: 97;
}

.historia{
    overflow: hidden;
}